# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Listing popular languages for data science
- Listing data science libraries
- Creating a markdown cell for development environment open source tools used in data science

Some of the popular languages that Data Scientists use are:
1. Python
1. R
1. Julia
1. Java
1. JavaScript
1. SQL
1. Matlab

Some of the commonly used libraries used by Data Scientists include:
- Pandas
- Numpy
- matplotlib
- Scikit
- Tensor Flow
- Pytorch
- ggplot2

| Data Science Tools |
| ------------------ |
| Apache Spark       |
| Tensor Flow        |
| Hadoop             |
| MySQL              |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers.

17

In [2]:
minutes= 200
hours= minutes/60
hours

# This will convert 200 minutes to hours by diving by 60.

3.3333333333333335

## Author
Cihan Kurter